<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head(#{cars.edit.title})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="#{cars.edit.title}">Edit car</h1>
    <hr>
    <form id="car" th:method="POST" th:action="@{/cars/{id}/edit(id = ${car.id})}" th:object="${car}">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                    <ul>
                        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="form-group" sec:authorize="hasRole('ADMIN')">
                    <label for="ownerId"><strong th:text="#{cars.owner}">Owner</strong></label>
                    <select id="ownerId" name="ownerId" form="car" class="form-control">
                        <option value="">-</option>
                        <option th:each="user: ${users}" th:value="${user.id}"
                                th:text="${user.firstName} + ' ' + ${user.lastName}"
                                th:selected="${user.id} == ${car.ownerId}">
                            John Wick
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="manufacturer"><strong th:text="#{cars.manufacturer}">Manufacturer</strong></label>
                    <input type="text" id="manufacturer" name="manufacturer" class="form-control"
                           th:field="*{manufacturer}"
                           th:placeholder="#{cars.manufacturer}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"
                       class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="model"><strong th:text="#{cars.model}">Model</strong></label>
                    <input type="text" id="model" name="model" class="form-control" th:field="*{model}"
                           th:placeholder="#{cars.model}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="year"><strong th:text="#{cars.year}">Year</strong></label>
                    <input type="number" id="year" name="year" class="form-control" th:field="*{year}"
                           th:placeholder="#{cars.year}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="color"><strong th:text="#{cars.color}">Color</strong></label>
                    <input type="text" id="color" name="color" class="form-control" th:field="*{color}"
                           th:placeholder="#{cars.color}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="text-danger small">Error</p>
                </div>
                <div class="form-group">
                    <label for="description"><strong th:text="#{cars.description}">Description</strong></label>
                    <textarea id="description" name="description" class="form-control" th:field="*{description}"
                              th:placeholder="#{cars.description}"
                              th:errorclass="is-invalid"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger small">
                        Error</p>
                </div>
                <div class="form-group">
                    <label for="value"><strong th:text="#{cars.value}">Value</strong></label>
                    <input type="number" step="0.01" id="value" name="value" class="form-control" th:field="*{value}"
                           th:placeholder="#{cars.value}"
                           th:errorclass="is-invalid">
                    <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="text-danger small">Error</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button th:text="#{button.save}" class="btn btn-dark">Save</button>
                    <a th:href="@{/cars/{id}/view(id = ${car.id})}" th:text="#{button.cancel}"
                       class="btn btn-outline-dark">Cancel</a>
                </div>
                <div class="form-group">
                    <a th:text="#{button.delete}" th:href="@{/cars/{id}/delete(id = ${car.id})}" class="text-danger">Delete</a>
                </div>
            </div>
        </div>
    </form>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
