<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head(${#request.getRequestURI().equals('/cars')} ? #{cars.title.all} : #{cars.title.my})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:if="${#request.getRequestURI().equals('/cars')}" th:text="#{cars.title.all}">All cars</h1>
    <h1 th:if="${#request.getRequestURI().equals('/cars/user')}" th:text="#{cars.title.my}">My cars</h1>
    <a th:text="#{button.create}" th:href="@{/cars/create}" class="btn btn-outline-dark">Add new</a>
    <div th:if="${deleteSuccess} != null">
        <hr>
        <div th:text="#{cars.delete.success}" class="alert alert-success" role="alert">
            Car has been deleted successfully
        </div>
    </div>
    <hr>
    <span sec:authorize="hasRole('ADMIN')" th:if="${#request.getRequestURI().equals('/cars')}">
        <div class="bg-light p-5 rounded">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <form id="company" th:method="GET" th:action="@{/cars}">
                        <div class="form-group">
                            <label for="companyId" th:text="#{users.company}">Company</label>
                            <select id="companyId" name="companyId" form="company" class="form-control"
                                    onchange="this.form.submit()">
                                <option value="">All</option>
                                <option th:each="company: ${companies}" th:value="${company.id}"
                                        th:text="${company.name}"
                                        th:selected="${param.companyId} != null and ${param.companyId.toString()} == ${company.id.toString()}">
                                    Tesla
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </span>
    <div class="row">
        <div class="col">
            <table class="table table-hover" th:unless="${#lists.isEmpty(cars)}">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{cars.id}">Id</th>
                    <th th:text="#{cars.manufacturer}">Manufacturer</th>
                    <th th:text="#{cars.model}">Model</th>
                    <th th:text="#{users.company}">Company</th>
                    <th th:text="#{cars.year}">Year</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${cars}" th:onclick="'location.href = \'/cars/' + ${car.id} + '/view\';'">
                    <td th:text="${car.id}">1</td>
                    <td th:text="${car.manufacturer}">Toyota</td>
                    <td th:text="${car.model}">Prius</td>
                    <td th:text="${car.company} != null ? ${car.company.name} : '-'">Tesla</td>
                    <td th:text="${car.year}">2009</td>
                </tr>
                </tbody>
            </table>
            <p class="text-center" th:if="${#lists.isEmpty(cars)}" th:text="#{cars.empty}">Car list is empty</p>
        </div>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
